<% if object.errors.any? %>
  <div id="display_error">
    <h2>Uh-oh! There were <%= pluralize(object.errors.count, "error") %></h2>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
