<h1>Products</h1>

<%= @products.each do |product| %>
  <div class="product">
    <p><%= product.name %></p>
    <p><%= product.description %></p>
    <p><%= product.cost_in_cents %></p>
  </div>
<% end %>
